{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"]
    },
    "target": "es2020"
  },
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "sourceMaps": true,
  "minify": false
}
